.header__lang-link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1,75rem;
  margin-top: 18px;
  margin-bottom: 6px;
  text-decoration: none;
  margin-right: 18px;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}



@media (min-width: 320px) and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
    margin-top: 14px;
    margin-bottom: 8px;

  }
}
